In [1]:
#Create a function that returns with a subsest of a list.
#The subset's starting and ending indexes should be set as input parameters (the list aswell).
#return type: list
#function name must be: subset
#input parameters: input_list,start_index,end_index

In [332]:
list = [1,2,3,4,5,6,7,8,9]

def subset(input_list,start_index,end_index):
    subsetList = input_list[start_index:end_index]
    return subsetList
    
subset(list,2,4)

[3, 4]

In [2]:
#Create a function that returns every nth element of a list.
#return type: list
#function name must be: every_nth
#input parameters: input_list,step_size

In [39]:
list = [1,2,3,4,5,6,7,8,9]

def every_nth(input_list,step_size):
    nthList = input_list[::step_size]
    return nthList
    
every_nth(list,2)

[1, 3, 5, 7, 9]

In [3]:
#Create a function that can decide whether a list contains unique values or not
#return type: bool
#function name must be: unique
#input parameters: input_list

In [5]:
list = [1,2,3]

def unique(input_list):
    for i, x in enumerate(input_list):
        for j, y in enumerate(input_list):
            if (i != j):
                if (input_list[i] == input_list[j]):
                    return False
    return True                
unique(list)

True

In [60]:
#Create a function that can flatten a nested list ([[..],[..],..])
#return type: list
#fucntion name must be: flatten
#input parameters: input_list

In [334]:
list = [[1,2,3],[4,5,6],[7,8,9]]

def flatten(input_list):
    flattenList = []
    for x in input_list:
        for y in x:
            flattenList.append(y)
    return flattenList
    
flatten(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#Create a function that concatenates n lists
#return type: list
#function name must be: merge_lists
#input parameters: *args

In [335]:
list = [1,2,3,4,5,6,7,8,9]
list2 = [10]
list3 = [9,8,7,6,5,4,3,2,1]

def merge_lists(*args):
    merge_List = []
    for arg in args:
        for x in arg:
            merge_List.append(x)
    return merge_List
    
merge_lists(list, list2, list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
#Create a function that can reverse a list of tuples
#example [(1,2),...] => [(2,1),...]
#return type: list
#fucntion name must be: reverse_tuples
#input parameters: input_list

In [336]:
list = [(1,2),(3,4),(5,6),(7,8),(9,10)]

def reverse_tuples(input_list):
    reverseList = []
    for tuple in input_list:
        reverseList.append(tuple[::-1])
    return reverseList

reverse_tuples(list)

[(2, 1), (4, 3), (6, 5), (8, 7), (10, 9)]

In [7]:
#Create a function that removes duplicates from a list
#return type: list
#fucntion name must be: remove_tuplicates
#input parameters: input_list

In [11]:
list = [2,6,3,3,2,1,4,5,4,6]

def remove_tuplicates(input_list):
    for i, x in enumerate(input_list):
        for j, y in enumerate(input_list):
            if (i != j):
                if (x == y):
                    input_list.pop(j)
    return input_list            
remove_tuplicates(list)

[2, 6, 3, 1, 4, 5]

In [ ]:
#Create a function that transposes a nested list (matrix)
#return type: list
#function name must be: transpose
#input parameters: input_list

In [339]:
list = [[1,2,3],[4,5,6],[7,8,9]]

def transpose(input_list):
    transposeList = [[0 for x in range(len(input_list))] for y in range(len(input_list[0]))] 
    for i, x in enumerate(input_list):
        for j, y in enumerate(x):
            transposeList[j][i] = y        
    return transposeList
    
transpose(list)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [17]:
#Create a function that can split a nested list into chunks
#chunk size is given by parameter
#return type: list
#function name must be: split_into_chunks
#input parameters: input_list,chunk_size

In [12]:
list = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

def split_into_chunks(input_list,chunk_size):
    listElementCount = 0
    for x in input_list:
        listElementCount += len(x)
    row = int(listElementCount / chunk_size) + (listElementCount % chunk_size > 0)
    column = chunk_size
    splittedList = [[0 for x in range(row)] for y in range(column)]
    for i, x in enumerate(input_list):
        for j, y in enumerate(x):
            id = i*len(input_list[i-1])+j
            splittedListRow = int(id/row)
            splittedListColumn = int(id%row)
            splittedList[splittedListRow][splittedListColumn] = input_list[i][j]
                
    return splittedList

split_into_chunks(list,2)

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12]]

In [9]:
#Create a function that can merge n dictionaries
#return type: dictionary
#function name must be: merge_dicts
#input parameters: *dict

In [96]:
dict1 = {
  "Brand": "Ford",
  "Model": "Mustang",
  "Year": 2000
}

dict2 = {
  "Brand": "Toyota",
  "Model": "Supra",
  "Year": 1990
}

dict3 = {
  "Brand": "Nissan",
  "Model": "Gtr",
  "Year": 1995
}

def merge_dicts(*dict):
    merged_Dict = []
    for d in dict:
        for x, y in d.items():
            merged_Dict.append([x,y])
    return merged_Dict
    
merge_dicts(dict1, dict2, dict3)

[['Brand', 'Ford'],
 ['Model', 'Mustang'],
 ['Year', 2000],
 ['Brand', 'Toyota'],
 ['Model', 'Supra'],
 ['Year', 1990],
 ['Brand', 'Nissan'],
 ['Model', 'Gtr'],
 ['Year', 1995]]

In [10]:
#Create a function that receives a list of integers and sort them by parity
#and returns with a dictionary like this: {"even":[...],"odd":[...]}
#return type: dict
#function name must be: by_parity
#input parameters: input_list

In [342]:
list = [1,2,3,4,5,6,7,8,9]

def by_parity(input_list):
    parityDict = {
        "even": [],
        "odd": [],}
    for x in input_list:
        if (x%2==0):
            parityDict["even"].append(x)
        else:
            parityDict["odd"].append(x)
    return parityDict

by_parity(list)

{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7, 9]}

In [84]:
#Create a function that receives a dictionary like this: {"some_key":[1,2,3,4],"another_key":[1,2,3,4],....}
#and return a dictionary like this : {"some_key":mean_of_values,"another_key":mean_of_values,....}
#in short calculates the mean of the values key wise
#return type: dict
#function name must be: mean_key_value
#input parameters: input_dict

In [343]:
dict = {
        "some_key": [1,3,2,5],
        "another_key": [2,4,6,1],
        "another_key2": [2,7,9,1]}

def mean_key_value(input_dict):
    meanDict = {}
    for item in input_dict:
        meanDict[item] = sum(input_dict[item]) / len(input_dict[item])
    return meanDict

mean_key_value(dict)

{'some_key': 2.75, 'another_key': 3.25, 'another_key2': 4.75}